Source: pushgateway
Section: net
Priority: extra
Maintainer: Stephen Shirley <kormat+pkgs@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/prometheus/pushgateway

Package: pushgateway
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Pushgateway for Prometheus monitoring system
 The Prometheus Pushgateway exists to allow ephemeral and batch jobs to expose
 their metrics to Prometheus. Since these kinds of jobs may not exist long
 enough to be scraped, they can instead push their metrics to a Pushgateway. The
 Pushgateway then exposes these metrics to Prometheus.
 .
 The Pushgateway is explicitly not an aggregator, but rather a metrics cache. It
 does not have a statsd-like semantics. The metrics pushed are exactly the same
 as you would present for scraping in a permanently running program.
 .
 For machine-level metrics, the textfile collector of the node-exporter is
 usually more appropriate. The pushgateway is best used for service-level
 metrics.
